body{
    background-image: url(../images/barbecue-design-elements-grill-summer-food_87689-163.jpg);
    background-repeat: repeat;
}

#container{
    border: 2px blue solid;

    margin: auto;
    max-width: 300px;
}

#imgChurrascometro{
    max-width: 300px;
}